JEE/ClienteWS/src/META-INF/wsdl/localhost_8080/Servicio/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.me.org/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.me.org/" schemaLocation="http://localhost:8080/Servicio/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="listado">
<part name="parameters" element="tns:listado"/>
</message>
<message name="listadoResponse">
<part name="parameters" element="tns:listadoResponse"/>
</message>
<message name="resultado">
<part name="parameters" element="tns:resultado"/>
</message>
<message name="resultadoResponse">
<part name="parameters" element="tns:resultadoResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<portType name="Servicio">
<operation name="hello">
<input wsam:Action="http://servicio.me.org/Servicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio.me.org/Servicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://servicio.me.org/Servicio/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://servicio.me.org/Servicio/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="listado">
<input wsam:Action="http://servicio.me.org/Servicio/listadoRequest" message="tns:listado"/>
<output wsam:Action="http://servicio.me.org/Servicio/listadoResponse" message="tns:listadoResponse"/>
</operation>
<operation name="resultado">
<input wsam:Action="http://servicio.me.org/Servicio/resultadoRequest" message="tns:resultado"/>
<output wsam:Action="http://servicio.me.org/Servicio/resultadoResponse" message="tns:resultadoResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://servicio.me.org/Servicio/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://servicio.me.org/Servicio/insertarResponse" message="tns:insertarResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resultado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/Servicio/Servicio"/>
</port>
</service>
</definitions>